<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GridDemo"  >
  <test name="GMailChrome" >
   <parameter name="browser" value="chrome"  />
    <classes>
       <class name="Sequentialgrid.SequentialExecution" />
    </classes>
  </test>
  <test name="GMailFirefox" >
   <parameter name="browser" value="firefox"  />
    <classes>
       <class name="Sequentialgrid.SequentialExecution" />
    </classes>
  </test>
  </suite>
